.profile__edit-button {
    width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
    padding: 0;
    transition: opacity .17s ease-in;
    background: url(../../../images/edit-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: hidden;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 321px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        font-size: 22px;
        line-height: 27px;
        margin: 4px 0 0 10px;
        background: url(../../../images/edit-button-mobile.svg);
    }
}