@import url(../form/__input-container/form__input-container.css);
@import url(../form/__label/form__label.css);
@import url(../form/__item/form__item.css);
@import url(../form/__submit/form__submit.css);
.form {
    position: fixed;
    display: flex;
    width: 430px;
    flex-direction: column;
    align-self: center;
    padding: 0;
    background: url(../../images/form-backdrop.png);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 321px) {
    .form {
        width: 282px;
        top: -76px;
        background: url(../../images/form-backdrop-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}