@import url(__input-container/form__input-container.css);
@import url(__label/form__label.css);
@import url(__item/form__item.css);
@import url(__submit/form__submit.css);
.form {
    display: flex;
    width: 430px;
    flex-direction: column;
    align-self: center;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .form {
        width: 282px;
    }
}