@import url(../page/__container/page__container.css);
.page {
    width: 1280px;
    display: flex;
    flex-direction: column;
    background: #000;
    font-family: "Inter", Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 425px) {
    .page {
        width: 320px;
    }
}