@import url(../profile/__avatar/profile__avatar.css);
@import url(../profile/__add-button/profile__add-button.css);
@import url(../profile/__edit-button/profile__edit-button.css);
@import url(../profile/__container/profile__container.css);
@import url(../profile/__name/profile__name.css);
@import url(../profile/__occupation/profile__occupation.css);
@import url(../profile/__info/profile__info.css);
.profile {
    display: flex;
    justify-content: flex-start;
    max-width: 880px;
    max-height: 120px;
    color: white;
    margin: 40px 0 51px;
    padding: 0;
}

@media screen and (max-width: 321px) {
    .profile {
        max-width: 282px;
        max-height: 286px;
        flex-direction: column;
        align-items: center;
        margin: 36px auto 48px;
    }
}