.profile__occupation {
    max-width: 320px;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 16px auto 0 0;
    padding: 0;
}

@media screen and (max-width: 735px) {
    .profile__occupation {
        text-align: center;
        margin: 14px auto 0;
    }
}

@media screen and (max-width: 435px) {
    .profile__occupation {
        font-size: 14px;
        line-height: 17px;
    }
}