.popup__close-icon {
    position: absolute;
    width: 52px;
    height: 52px;
    background: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    top: -40px;
    right: -40px;
    border: hidden;
}

.popup__close-icon:hover {
    cursor: pointer;
    opacity: .8;
}

@media screen and (max-width: 485px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        top: -40px;
        right: 10px;
    }
}