.element__icon {
    max-width: 20.76px;
    max-height: 18.13px;
    transition: opacity .24s ease-in;
}

.element__icon:hover {
    cursor: pointer;
    opacity: .5;
}

.element__icon:active {
    background-color: #000;
}