.profile__avatar {
    width: 120px;
    object-fit: contain;
    margin: 0 30px 0 0;
    padding: 0;
}

@media screen and (max-width: 735px) {
    .profile__avatar {
        margin: auto 0 30px;
    }
}

@media screen and (max-width: 321px) {
    .profile__avatar {
        margin: auto 0 30px;
    }
}