@import url(../profile-info/__container/profile-info__container.css);
.profile-info {
    display: flex;
    flex-direction: column;
    width: 580px;
    flex-wrap: wrap;
    margin: auto 0;
    padding: 0;
}

@media screen and (max-width: 425px) {
    .profile-info {
        width: 282px;
        align-content: center;
    }
}