    @import url(__image/element__image.css);
    @import url(__label/element__label.css);
    @import url(__button/element__button.css);
    @import url(__title/element__title.css);
    .element {
        display: flex;
        max-width: 282px;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        z-index: 0;
        background-color: white;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }