@import url(../element/__image/element__image.css);
@import url(../element/__label/element__label.css);
@import url(../element/__icon/element__icon.css);
@import url(../element/__title/element__title.css);
@import url(../element/__backdrop/element__backdrop.css);
.element {
    max-height: 361px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
}